<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720922676307-1nbhr81h7enk803vmj4t00gbd1ts6ioj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720922676307-1nbhr81h7enk803vmj4t00gbd1ts6ioj</string>
	<key>API_KEY</key>
	<string>AIzaSyDVEoU0uDhnYOvvLon46MadECqwgtzfH5k</string>
	<key>GCM_SENDER_ID</key>
	<string>720922676307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techbrothers.flutternotifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-65031</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-65031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720922676307:ios:44140aafd17c9825afcaa6</string>
</dict>
</plist>